<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://kit-pro.fontawesome.com/releases/v6.2.0/css/pro.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <style>
    button.active {
      background-color: #2c88ff !important;
      color: white !important;
    }

    .btn-primary {
      background-color: #2c88ff;
    }
  </style>
  <!-- <script>
    let password = prompt('Ingresa tu contraseña');
    if (password !== 'ola2023$') {
      location.reload();
    }
  </script> -->
</head>

<body>
  <div class="container-fluid" id="app">
    <div class="row">
      <div class="col-12" style="margin-bottom: 20px;">
        <nav class="navbar" style="background-color: #2c88ff;">
          <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: white;">
              <img src="https://olazul.kairossoft.app/assets/img/logo.png" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
              Olazul KPI
            </a>
          </div>
        </nav>
      </div>
      <div class="col-12">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="productos-tab" data-bs-toggle="tab" data-bs-target="#productos"
              type="button" role="tab" aria-controls="productos" aria-selected="true">
              Productos
            </button>
            <button class="nav-link" id="horarios-tab" data-bs-toggle="tab" data-bs-target="#horarios" type="button"
              role="tab" aria-controls="horarios" aria-selected="false">
              Horarios
            </button>
            <button class="nav-link" id="clientes-tab" data-bs-toggle="tab" data-bs-target="#clientes" type="button"
              role="tab" aria-controls="clientes" aria-selected="false">
              Clientes
            </button>
            <button class="nav-link" id="meseros-tab" data-bs-toggle="tab" data-bs-target="#meseros" type="button"
              role="tab" aria-controls="meseros" aria-selected="false">
              Meseros
            </button>
          </div>
        </nav>
        <br>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="productos" role="tabpanel" aria-labelledby="productos-tab"
            tabindex="0">
            <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6">
                <input class="form-control" type="date" v-model="fecha_inicio">
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <input class="form-control" type="date" v-model="fecha_fin">
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                <button @click="getFamilias()" class="btn btn-primary">
                  <i class="fas fa-search"></i> Consultar
                </button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4" style="text-align: left;">
                <h2>(Q.{{ventas}})</h2>
                <div id="chart"></div>
              </div>
              <div class="col-8" style="text-align: right;">
                <div v-if="familia">
                  <h2>{{familia.descripcion}} (Q.{{familia.total}})</h2>
                </div>
                <div id="chart2"></div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="horarios" role="tabpanel" aria-labelledby="horarios-tab" tabindex="0">
            ...
          </div>
          <div class="tab-pane fade" id="clientes" role="tabpanel" aria-labelledby="clientes-tab" tabindex="0">
            ...
          </div>
          <div class="tab-pane fade" id="meseros" role="tabpanel" aria-labelledby="meseros-tab" tabindex="0">
            ...
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <script src="app.js"></script>
</body>

</html>